section#education.timeline.education
  .line.row.timeline-margin
    .content-wrap
      .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
      .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
      .col-md-9.bg1.full-height
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.timeline-title.full-height
    .col-md-8.content-wrap.bg1
      h2.section-title Education
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-education
    .col-md-8.content-wrap.bg1
      .line-content.line-content-education
        h3.section-item-title-1 Software Engineering Immersive
        h4.graduation-time
          i.fa.fa-university
          |  Hack Reactor &middot;
          span.graduation-date San Francisco, CA, USA
        .graduation-description
          p
            | After years pursuing an academic engineering career I pivoted to jump start my dream career: programing for visual pleasure, aka web development!
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-education
    .col-md-8.content-wrap.bg1
      .line-content.line-content-education
        h3.section-item-title-1 Ph.D. &amp; M.S. Materials Science and Engineering
        h4.graduation-time
          i.fa.fa-university
          |  University of California at Berkeley &middot;
          span.graduation-date Berkeley, CA, USA
        .graduation-description
          p
            | In my Ph.D. reseach I studies bubbles! Yes bubbles! I worked on an aluminum purification project, where chlorine gas is bubbled through molten aluminum to remove impurities. This research took me to a research position at an Austrian university, where I worked for four years before returning to Berkeley.
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-education
    .col-md-8.content-wrap.bg1
      .line-content.line-content-education
        h3.section-item-title-1 B.S. in Chemical Engineering
        h4.graduation-time
          i.fa.fa-university
          |  Arizona State University &middot;
          span.graduation-date Tempe, AZ, USA
        .graduation-description
          p
            | Chemistry was my first educational passion and Chemical Engineering fulfilled that love for a few years as I worked at Dow Chemical, but soon grad school was calling my name and I went to Berkeley to pursue studies in Material Science.
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
