section#interests.timeline
    .line.row.timeline-margin
        .content-wrap
            .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
            .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
            .col-md-9.bg1.full-height
    .line.row
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
        .col-md-2.timeline-progress.hidden-sm.hidden-xs.timeline-title.full-height
        .col-md-8.content-wrap.bg1
            h2.section-title Fun Facts
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    for fact in app.funFacts
        .line.row
            .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
            .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
            .col-md-8.content-wrap.bg1
                .line-content
                    h3.section-item-title-1= fact.title
                    p!= fact.blurb
            .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
