.profile-intro.row
  .col-md-4.profile-col
    .profile-pic
      .profile-border
        img(src='img/autumn-linkedin.jpg', alt='')
  .col-md-7
    h1.intro-title1
      span.color1 #{app.general.firstName}
    h2.intro-title2 #{app.general.careerTitle}
    p
      | My dream job is working at the intersection of logical software development and creative design while driving development of an intuitive user interface
      i for the user
      | . Lucky that my day job is coding for
      strong visual pleasure
      |