.profile-intro.row
    .col-md-4.profile-col
        .profile-pic
            .profile-border
                 img(src='media/autumn-linkedin.jpg', alt='')
    .col-md-7
        h1.intro-title1
            span.color1 #{app.general.firstName} #{app.general.lastName}
        h2.intro-title2 #{app.general.careerTitle}
        p.profile-intro-text I want to work at the intersection of logical software development and creative design while driving development of an intuitive user interface
            i  for the user.
            |  I love going to work.
            i.fa.fa-smile-o.pl6
