section#portfolio.timeline.portfolio
  .line.row.timeline-margin
    .content-wrap
      .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
      .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
      .col-md-9.bg1.full-height
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.timeline-title.full-height
    .col-md-8.content-wrap.bg1
      h2.section-title Portf&oacute;lio
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Some Works
        .portfolio-items.clearfix
            for item in app.portfolio
                .portfolio-item
                    a.nivobox(href='media/portfolio-item-zoom.jpg', title='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie purus.', data-lightbox-gallery='portfolio')
                        .hover
                            p.zoomi
                              i.fa.fa-search
                            p.portfolio-item-title
                              strong #{app.portfolio.title1}
                              br
                              |  Business Card
                         .hover-bg-wrapper
                            .hover-bg
                         .portfolio-item-thumbnail
                            img(src='media/portfolio-item-thumb.jpg', alt='')
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs


        //Will need to add lightbox stuff back in for this