section.timeline.timeline-intro
  .line.row.timeline-margin
    .content-wrap
      .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
      .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
      .col-md-9.bg1.full-height
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.timeline-title.full-height
    .col-md-8.content-wrap.bg1
      h2.section-title Hello World
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    //- TODO: what I've learned in the last year section 
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Current Role
        p Full-stack Product Engineer at  
          a(href="https://www.ustwo.com/") ustwo
        p  I create products and prototypes for ustwo clients as a product engineer in cross-functional teams of coaches, designers, and engineers.
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 My ideal job
        p Lucky for me, my current job is my ideal job!  I want to work at the intersection of challenging tech and creative design, driving development of an intuitive user experience with a team that is smart, passionate, and silly.
        p I am
         i.fa.fa-smile-o.pl6  
         | &nbsp; when I'm learning, helping, and surrounded by peers who want to learn and teach.
          
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs    
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Email
        p autumnfjeld@gmail.com
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Location
        p Feet in Sydney, Australia | Heart in the USA
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Legal Mobility
        p American citizen | Currently in Sydney with a Skilled Work (subclass 457) visa
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs    
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 More sources
        a.btn.btn-social(href='https://www.linkedin.com/in/autumnfjeld', target='_blank')
          i.fa.fa-linkedin
        a.btn.btn-social(href='https://twitter.com/autaut', target='_blank')
          i.fa.fa-twitter
        a.btn.btn-social(href='https://github.com/autumnfjeld', target='_blank')
          i.fa.fa-github
        //- a.btn.btn-social(href='https://www.talentbin.com/team', target='_blank')
        //-   i.fa.fa-user
        a.btn.btn-social(href='#contact')
          i.fa.fa-envelope-o
        //- a.btn.btn-social(href='media/Autumn_Fjeld_Resume_20171123.pdf', target='_blank"=')
        //-   i.fa.fa-download

    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
