section.timeline.timeline-intro
  .line.row.timeline-margin
    .content-wrap
      .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
      .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
      .col-md-9.bg1.full-height
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.timeline-title.full-height
    .col-md-8.content-wrap.bg1
      h2.section-title Resume basics
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 My ideal job
        p Full-stack web developer with a heavy dose of front-end and design (perhaps working closely with designers), with the opportunity to work on backend projects.  I'm happy when I'm learning.
        p I just (Novomber 10th) moved from San Francisco to Sydney and am looking for a challenging, creative developer role. I am American and already have a "Skilled Work (subclass 457) visa".
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Email
        p autumnfjeld@gmail.com
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Location
        p Sydney, Australia
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs

  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 More sources
        a.btn.btn-social(href='https://www.linkedin.com/in/autumnfjeld', target='_blank')
          i.fa.fa-linkedin
        a.btn.btn-social(href='https://twitter.com/autaut', target='_blank')
          i.fa.fa-twitter
        a.btn.btn-social(href='https://github.com/autumnfjeld', target='_blank')
          i.fa.fa-github
        a.btn.btn-social(href='https://www.talentbin.com/team', target='_blank')
          i.fa.fa-user
        a.btn.btn-social(href='#contact')
          i.fa.fa-envelope-o
        a.btn.btn-social(href='media/Autumn_Fjeld_Resume_20171123.pdf', target='_blank"=')
          i.fa.fa-download

    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
