section.timeline.the-end
    //.line.row.timeline-margin.timeline-margin-big
    .line.row.timeline-margin
        .content-wrap
            .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
            .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
            .col-md-9.bg1.full-height
    .line.row
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
        .col-md-2.timeline-progress.hidden-sm.hidden-xs.timeline-title.full-height
        .col-md-8.content-wrap.bg1
            h2.section-title Hire me
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .line.row
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
        .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
        .col-md-8.content-wrap.bg1
            .line-content
                //h3.section-item-title-1 Title
                p Need a website to advertise yourself or your business? I can work with you to create a clean, crisp site that expresses your personality and/or business needs.
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .line.row.line-thank-you
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
        .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
        .col-md-8.content-wrap.bg1
            .line-content
                //p Need a website to advertise yourself or your business? I can work with you to create a clean, crisp site that expresses your personality and/or business needs.
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs